:root {
    --color: #000000;
    --bg-color: #FFFFFF;
    --form-color: #000000;
    --form-bg-color: #F3F2F1;
    --form-border-color: #e3e2e1;
    --disabled-color: #999999;
    --disabled-bg-color: #fcfbfa;
    --select-icon: url('down-light.svg');
}

[data-theme="dark"] {
    --color: #FFFFFF;
    --bg-color: #000000;
    --form-color: #FFFFFF;
    --form-bg-color: #171819;
    --form-border-color: #272829;
    --disabled-color: #888888;
    --disabled-bg-color: #070809;
    --select-icon: url('down-dark.svg');
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    transition: all 0.3s linear;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color);
    background-color: var(--bg-color);
    overflow: hidden;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#controls > div > p {
  font-weight: bold;
  margin: 4px;
  margin-top: auto;
}

#controls > div > div {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  align-items: center;
}

#controls > div > div > p {
  margin: 0.5em 0;
}

.span-rows {
    grid-row-end: span 2;
}

#canvas-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  width: 100%;
  height: 100%;
}

canvas {
  height: 100%;
  width: 100%;
}

/* Toggle switch*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 5px;
}

input:checked + .slider {
  background-color: var(--form-bg-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--form-bg-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Form elements */
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
  border: 1px solid var(--form-border-color);
  border-radius: 5px;
  color: var(--form-color);
  background: var(--form-bg-color);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
              border-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
              transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

:disabled{
  color: var(--disabled-color);
  background-color: var(--disabled-bg-color);
  cursor: default;
}

input, select {
  padding: 5px;
}

select {
  width: 22ch;
}

input[type="number"] {
  width: 8ch;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
  -moz-appearance: none;
  background-image: var(--select-icon);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: center right 12px;
  padding-right: 34px;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

/* Playback controls */
#playback-controls {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-content: start;
  align-self: start;
  grid-row: 1 / span 2;
}

#exportbuttons {
  display: flex;
  gap: 10px;
  grid-column: span 2;
  font-size: 1.5em;
}

#exportbuttons > button {
  padding: 5px 0.5em;
  flex: 1;
}

@keyframes fadeIn {
  from { opacity: 0; }
}
.fa-circle {
  color: red;
  animation: fadeIn 1s infinite alternate;
}


#playback-controls > button {
  margin: 0;
  border-radius: 0px;
  padding: 10px;
}

#play-backwards {
  border-top-left-radius: 5px !important;
}

#play-forwards {
  border-top-right-radius: 5px !important;
}

#step-backwards {
  border-bottom-left-radius: 5px !important;
}

#step-forwards {
  border-bottom-right-radius: 5px !important;
}
