html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#controls {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 10px;
}

#controls > p {
    margin: 4px;
}

.span-rows {
    grid-row-end: span 2;
}

canvas {
    flex-grow: 1;
    margin: 0;
    width: 100%;
    height: 100%;
}
